<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Inscription</title>
	</head>
	<style type="text/css">
		html, body {
			height: 100%;
		}
		body {
			display: flex;
		}
		#mainWrapper {
			margin: auto;
		}
	</style>
	<body>
		<div id="mainWrapper">
			<form method="post" action="/">
				<label for="prenom">Prénom</label>
				<input type="text" name="prenom" id="prenom" value="<%= qs.prenom%>"> </br> </br>
				<label for="nom">Nom</label>
				<input type="text" name="nom" id="nom" value="<%= qs.nom%>"> </br> </br>
				<label for="address">Adresse</label>
				<input type="text" name="address" id="address" value="<%= qs.address%>"> </br> </br>
				<label for="mail">Email</label>
				<input type="text" name="mail" id="mail" value="<%= qs.mail%>"> </br> </br>
				<label for="passwd">Mot de passe</label>
				<input type="password" name="passwd" id="passwd" value="<%= qs.passwd%>"> </br> </br>
				<label for="passwdConf">Mot de passe de confirmation</label>
				<input type="password" name="passwdConf" id="passwdConf" value="<%= qs.passwdConf%>"> </br> </br>
				<input type="submit" name="submit" value="Valider">
			</form>
		</div>
	</body>
</html>